@import "./reset.css";

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;

  height: 100%;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  color: var(--color-text);
  background-color: var(--color-background);
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family:
    BlinkMacSystemFont,
    -apple-system,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  background-color: var(--color-border);
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  font-weight: 700;
}

// Block
table {
  width: 100%;
  td,
  th {
    text-align: left;
    vertical-align: top;
  }
}

// actual tailwind css
// we're not using the tailwind reset, didn't like how it setup ::placeholder color
@tailwind components;
@tailwind utilities;

:root {
  // theme-light
  --color-background: white;

  --color-primary: #e37857;
  --color-primary-button-text: var(--color-background);
  --color-primary-shadow: rgba(255, 114, 71, 0.8);
  --color-primary-active: #ff5f2e;
  --color-primary-disabled: #e03500;

  --color-text: #4a4a4a;
  --color-text-muted: rgba(115, 115, 115, 1);
  --color-text-disabled: var(--color-text);

  --color-input-placeholder: var(--color-text-muted);

  --color-link: var(--color-text);
  --color-link-hover: var(--color-link);

  --color-border: #dbdbdb;

  --color-accent: rgb(255, 114, 71);

  --color-danger: #ff3860;
  --color-danger-button-text: white;
  --color-danger-disabled: #{darken(#fb5274, 20%)};

  --color-background-card: var(--color-background);
  --color-background-calendar-day: whitesmoke;
  --color-background-calendar-item: var(--color-background);
  --color-background-empty-image: rgb(227, 227, 227);
  --color-modal-background: rgba(10, 10, 10, 0.57);

  --margin-calendar-item-bottom: 0.5rem;
}

.theme-autumn {
  --color-background: rgb(185, 110, 52);

  --color-primary: #e37857;
  --color-primary-button-text: white;
  --color-primary-shadow: rgba(255, 114, 71, 0.8);
  --color-primary-active: var(--color-primary);
  --color-primary-disabled: #b86349;

  --color-text: rgb(237, 237, 237);
  --color-text-muted: var(--color-text);
  --color-text-disabled: rgb(185, 185, 185);

  --color-input-placeholder: rgb(208, 197, 180);

  --color-border: #dbdbdb;
  --color-accent: hsla(15, 50%, 82%, 0.865);

  --color-danger: #fb5274;
  --color-danger-button-text: white;
  --color-danger-disabled: #{darken(#fb5274, 20%)};

  --color-background-card: rgb(188, 133, 92);
  --color-background-calendar-day: var(--color-background-card);
  --color-background-calendar-item: rgb(188, 133, 92);
  --color-background-empty-image: var(--color-background-card);

  --margin-calendar-item-bottom: 0rem;
}

.theme-solarized {
  --color-background: #fdf6e3;

  --color-primary: #b58900;
  --color-primary-button-text: white;
  --color-primary-shadow: var(--color-primary);
  --color-primary-active: var(--color-primary);
  --color-primary-disabled: var(--color-primary);

  --color-text: #4a4a4a;
  --color-text-muted: rgba(115, 115, 115, 1);
  --color-text-disabled: var(--color-text);

  --color-input-placeholder: #b1b1b1;

  --color-border: #93a1a1;
  --color-accent: #657b83;

  --color-danger: #dc322f;
  --color-danger-button-text: white;
  --color-danger-disabled: #{darken(#dc322f, 20%)};

  --color-background-card: var(--color-background);
  --color-background-calendar-day: #eee8d5;
  --color-background-calendar-item: var(--color-background);
  --color-background-empty-image: var(--color-background-calendar-day);

  --margin-calendar-item-bottom: 0.5rem;
}

// hide native chrome pickers
input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}
